.navbar-default {
    background-color: #0a546cb4 !important;
    color:#fff !important;
    border: none;
}
.navbar-brand{
    color: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #fff !important;
}
.navbar-default .navbar-nav > .active > a{
    color:#ddd !important;
}
