.navbar-default {
    background-color: #0A536C !important;
    color:#fff;
}
.navbar-default .navbar-nav > .active > a{
    color:#eee !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0a546c18 !important;
  }