<div class="mainRow">
  <form class="recipeForm" [formGroup]="recipeForm" (submit)="onsubmit($event)">
    <div class="btn-group">
      <button
        type="submit"
        [disabled]="!recipeForm.valid"
        class="btn btn-sm btnSave"
      >
        <span class="material-icons"> done_outline </span>
      </button>
      <button type="button" class="btn btn-sm btnCancel" (click)="onCancel()">
        <span class="material-icons"> cancel </span>
      </button>
      <button
        class="btn btn-sm btnAdd"
        type="button"
        (click)="onAddIngredient()"
      >
        <span class="material-icons"> create_new_folder </span>
      </button>
    </div>
    <input
      placeholder="Meal"
      type="text"
      name="name"
      class="form-control"
      formControlName="name"
    />
    <input
      placeholder="Image for meal"
      type="text"
      name="imagePath"
      formControlName="imagePath"
      class="form-control"
      #imagePath
    />
    <img
      [src]="imagePath.value"
      id="imagePath"
      class="img-responsive"
      style="max-height: 300px"
    />
    <textarea
      placeholder="Description"
      type="text"
      name="description"
      class="form-control"
      formControlName="description"
      rows="6"
    ></textarea>

    <div class="ingredients" formArrayName="ingredients">
      <div
        class="row"
        style="margin-top: 10px"
        *ngFor="let ingredientControl of controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col-xs-10">
          <mat-form-field appearance="outlined">
            <mat-select formControlName="ingredient">
              <mat-option
                *ngFor="let item of ingredientList"
                [value]="item.id"
              >
                {{ item.name }}-{{ item.amount }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <select formControlName="ingredient" class="form-control">
            <option *ngFor="let item of ingredientList" value={{item.id}}
            [ngValue]="item"
            [selected]="item.id===controls[i].value.ingredient">
              {{ item.name }}-{{ item.amount }}
            </option>
          </select> -->
        </div>
        <div class="col-xs-2">
          <button
            type="button"
            (click)="deleteIngredient(i)"
            class="btn btn-danger"
          >
            X
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
