<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (submit)="onsubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Kaydet</button>
          <button type="submit" class="btn btn-danger">İptal</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Malzeme</label>
            <input
              type="text"
              name="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Resim Bilgisi</label>
            <input
              type="text"
              name="imagePath"
              formControlName="imagePath"
              class="form-control"
              id=""
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" id="imagePath" class="image-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Açıklama</label>
            <textarea
              type="text"
              name="description"
              class="form-control"
              formControlName="description"
              rows="6"
            >
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-8">
              <input type="text" class="form-control" />
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" />
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
