input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border:1px solid red;
}
.formRow{
    display: flex;
    margin-top: 5%;
    margin-right: 10%;
    float: right;
    color:#000;
}
form.recipeForm{
    width: 500px;
  }
  ::ng-deep .bodyImage{
    background-color:rebeccapurple;
    }