input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border:1px solid red;
}
.mainRow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;
  }

form.recipeForm{
    width: 40%;
    padding: 5px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    text-align: right;
  }
form>input{
    margin-top: 5px;
}
form>textarea{
    margin-top: 5px;
}
div.ingredients{
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
button{

font-weight: bold;
}

.btnSave{
background-color: #4E8395;
}
.btnCancel{
  background-color: #ca7b21;
}


.btnCancel {background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03  51%, #FFB75E  100%)}
.btnCancel {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btnCancel:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.btnSave {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
.btnSave {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btnSave:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }




.btnAdd {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.btnAdd {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btnAdd:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
