
  <form (ngSubmit)="onAddItem(f)" #f="ngForm" class="form">
    <input type="text"
        id="name"
        placeholder="Name"
        class="form-control"
        name="name" ngModel required />
        <input type="text"
        id="amount"
        placeholder="Amount"
        class="form-control"
        name="amount" ngModel required
        pattern="^[1-9]+[0-9]*$"/>
        <div class="btn-group" style="margin-top: 10px;">
          <button class="btn btn-success btn-sm"
          type="submit" [disabled]="!f.valid">
          {{editMode ? 'Güncelle' : 'Kaydet'}}</button>
          <button class="btn btn-danger btn-sm"
          type="button"
          *ngIf="editMode"
           (click)="onDeleteItem()">Sil</button>
          <button class="btn btn-dark btn-sm"
          type="button"
          (click)="onClear()"
          >Temizle</button>
        </div>

  </form>