
  <form (ngSubmit)="onAddItem(f)" #f="ngForm" class="form">
    <input type="hidden" name="id" ngModel class="form-control" />
    <input type="text"
        id="name"
        placeholder="Name"
        class="form-control"
        name="name" ngModel required />
        <input type="text"
        id="amount"
        placeholder="Amount"
        class="form-control"
        name="amount" ngModel required/>
        <div class="btn-group" style="margin-top: 10px;">
          <button class="btn btn-sm btnAdd"
          type="submit" [disabled]="!f.valid" *ngIf="editMode">
          <span class="material-icons">
            auto_fix_high
            </span>
          </button>
          <button class="btn btn-sm btnAdd"
          type="submit" [disabled]="!f.valid" *ngIf="!editMode">
          <span class="material-icons">
            <span class="material-icons">
              done_outline
              </span>
            </span>
          </button>
          <button class="btn btn-sm btnSave"
          type="button"
          *ngIf="editMode"
           (click)="onDeleteItem()"><span class="material-icons">
            delete_outline
            </span></button>
          <button class="btn btn-sm btnCancel"
          type="button"
          (click)="onClear()"
          ><span class="material-icons">
            backspace
            </span></button>
        </div>

  </form>