@import '../../shared/button.style.css';

.form{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
input{
    margin: 10px;
    border: 2px #acc1cc solid;
  }
  .btn-group{
      margin-top: 5px;
      width: 20%;
  }
  .inputName{
      text-align: center;
      width: 40%;
  }
  .inputAmount{
    text-align: center;
    width: 40%;
}