<div class="row">
  <div class="formRow">
    <div class="alert alert-danger" *ngIf="errorStr">
      <p>{{ errorStr }}</p>
    </div>
    <div *ngIf="isLoadingMode" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
    </div>
    <form
      #authForm="ngForm"
      (submit)="onSubmit(authForm)"
      *ngIf="!isLoadingMode"
    >
      <div class="form-group">
        <input
          type="text"
          id="email"
          class="form-control"
          ngModel
          name="email"
          placeholder="Email"
          email
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Password"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div class="formGroup">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!authForm.valid"
        >
          {{ isLogingMode ? "Oturum Aç" : "Kaydol" }}
        </button>
        |
        <button type="button" class="btn btn-success" (click)="onSwitchMode()">
          {{ isLogingMode ? "Kaydol" : "Oturum Aç" }}
        </button>
      </div>
    </form>
  </div>
</div>
