<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form action="">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Parola</label>
        <input type="password" id="password" class="form-control" />
      </div>
      <div>
        <button class="btn btn-primary">Kaydol</button> | <button class="btn btn-primary">Oturum Aç</button>
      </div>
    </form>
  </div>
</div>
