app-recipe-detail > .dialog-content-wrapper {
    max-width: 600px;
    min-width: 600px;
}
app-recipe-detail .form-wrapper {
    max-height: calc(100vh - 120px);
}
.content{
    display: flex;
     flex-direction: column;
     justify-content: center
}
.content img {
    width: 100%;
    max-width: 300px;
}
.popupHeader{
    display: flex;
    justify-content: space-between;
}
.dialog-title{
    font-weight: 900;
}