<div class="row">
    <div class="col-xs-12">
       <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h1>Tarif Adı</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <div class="btn-group">
           <button type="button" class="btn btn-warning dropdown-toggle">Tarifle
               <span class="caret"></span>
           </button>
           <ul class="dropdown-menu">
               <li><a href="#"></a>Alış Veriş</li>
               <li><a href="#"></a>Tarif Düzenle</li>
               <li><a href="#"></a>Tarif Sil</li>
           </ul>
       </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      Tarif Açıklaması
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    İçerik
</div>