<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>

  <h1 mat-dialog-title>{{recipe.name}}</h1>
  <div mat-dialog-content>
    <img [src]="recipe.imagePath"
    alt="recipe.name"
    class="img-responsive"
    style="max-height: 300px;">
    <p> {{recipe.description}}</p>
    <ul class="list-group">
        <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
    {{ingredient.name}} - {{ingredient.amount}}
        </li>
    </ul>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onAddToShoppingList()">add to basket</button>
    <button mat-button (click)="onEditRecipe()">edit recipe</button>
    <button mat-button (click)="onDeleteRecipe()">delete recipe</button>
  </div>
