app-recipe-detail > .dialog-content-wrapper {
    max-width: 600px;
    min-width: 600px;
    text-align: center;
}
app-recipe-detail .form-wrapper {
    max-height: calc(100vh - 120px);
    text-align: center;
}
.content{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.content img {
    width: 100%;
    max-width: 300px;
}
.content p{
    margin-top: 2px;
}
.popupHeader{
    display: flex;
    justify-content: space-between;
}
.dialog-title{
    font-weight: 900;
}

ul > li {
    display: inline-block;
    zoom:1;
    margin-left: 2px;
    cursor:context-menu;
}
li:hover {
    background-color: #ddd;
  }