::ng-deep .bodyImage{
    background-image: none;
    background-color: #5C6A79;
  }
  .mainRow{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 10%;
    float: right;
    min-width: 600px;
  }
  .ingredients{
    margin-top: 10px;
    cursor: pointer;
  }
  .list-group-item{
    margin-top: 2px;
  }