<mat-card class="matCard">
  <div class="header">
    <div class="title">
      {{ recipe.name }}
    </div>
    <div class="actions">
      <span class="material-icons btnEdit"> app_registration </span>
      <span class="material-icons btnDelete" (click)="deleteRecipe(recipe)"> delete_forever </span>
      <span class="material-icons btnEye" (click)="openRecipeDetailPopup(recipe)"> visibility </span>
    </div>
  </div>
  <img mat-card-image [src]="recipe.imagePath" alt="{{ recipe.name }}" />
</mat-card>
