::ng-deep .bodyImage{
    background-image: none;
    background-color: #5C6A79;
  }
  .mainRow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formEdit{
    width: 40%;
    padding: 5px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    text-align: center;
  }

  .ingredients{
    margin-top: 10px;
    cursor: pointer;

  }

  .list{
    margin-top: 2px;
    display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  }
  .list-item{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }