::ng-deep .bodyImage{
    background-image: none;
    background-color: #5C6A79;
  }
  .mainRow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formEdit{
    width: 40%;
    padding: 5px 0px 5px 0px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    text-align: center;
  }

  .list{
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .list p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#59676d;
    font-weight: 800;
  }
  .list-item{
    box-shadow: 0 4px 8px 0 #7c8e96;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #f1f1f1;
  }