::ng-deep .bodyImage{
    background-image: none;
    background-color: #5C6A79;
  }
  .mainRow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formEdit{
    width: 40%;
    padding: 5px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    text-align: center;
  }

  .ingredients{
    margin-top: 10px;
    cursor: pointer;
  }
  .list-group-item{
    margin-top: 2px;
  }