@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body.recipeList{
background-color: #ECF2F4;
}
body.auth{
  background-image: url('./assets/backgroundHome.png');
  background-repeat: no-repeat;
  background-size: cover;
}
body.recipeEdit{
  background-image: url('./assets/backRecipeForm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body.ingredientList{
  background-image: url('./assets/ingredientList.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
