@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.bodyImage{
  background-image: url('./assets/backgroundHome.png');
  background-repeat: no-repeat;
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
