<div class="rov">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">İsim</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-7 form-group">
                    <label for="amount">Miktar</label>
                    <input type="text" id="amount" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Kaydet</button>
                    <button class="btn btn-danger" type="button">Sil</button>
                    <button class="btn btn-dark" type="button">Temizle</button>
                </div>
            </div>
        </form>
    </div>
</div>